/* .main-container {
    background-color:aquamarine;
    height: 100%;
    width:100%;
} */



.full-page{
  height: 100vh;
}

.main__image-container {
padding-top: 4rem;
  margin-left: 5%;
  margin-right: 50%;
/* padding-bottom: 1rem; */



  /* padding-left: 2%;
  padding-right: 50%; */


  /* overflow: hidden; */


  display: flex;

  /* max-width: 41rem; */
  /* box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.9); */
  /* transform: skewX(15deg); */
  /* overflow: hidden; */
  /* display: flex;
    justify-content: space-around; */
}

h1 {

  font-family: "poppins";
  color: white;
  cursor: default;
}



.main {
  width: 100%;
  height: 100%;
  min-width: 5rem;
  max-width: 22rem;
  /* background-color: rgb(43, 43, 43); */
  /* display: block; */
  /* transform: skew(-15deg) scale(1.4) */
}

.txt_container {
  /* background-color: rgba(122, 122, 122, 0.212); */

  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  /* width: 100%; */
}

.main-container {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0) 75%,
    rgba(41, 41, 41, 0) 100%
  );
  /* background-image: url("freedom.jpg");
      background-size: cover;
      background-position: left 10% bottom 20%; */
  /* background-repeat: no-repeat;
      background-origin: border-box;
      background-clip: border-box; */
  /* background-image: linear-gradient(180deg, red 70%, blue 60%, rgba(0,0,0,0.5)); */
  /* background-image: radial-gradient(ellipse farthest-corner at 20% 50%, red, blue 70%, green); */
  width: 100%;
  /* height: 528px; */
  height: 100%;
  /* margin-top: 3.5rem; */
  /* border: 5px dashed red; */
  /* position: relative; */
}

#h1_1 {
  font-size: 3rem;
  color: gold;
}

#h1_1:hover {
  color: white;
}
/* #h1_2:hover {
  color: gold;
}
#h1_3:hover {
  color: gold;
} */

@media (min-width: 21rem) {
  #h1_1 {
    font-size: 2rem;
  }
}

@media (min-width: 31rem) {
  #h1_1 {
    font-size: 3rem;
  }
}

@media (min-width: 41rem) {
  #h1_1 {
    font-size: 4rem;
  }
}

@media (min-width: 51rem) {
  #h1_1 {
    font-size: 5rem;
  }
}

@media (min-width: 61rem) {
  #h1_1 {
    font-size: 6rem;
  }
}





/* #h1_2 {
  color: white;
} */

#h1_3 {
 
  position: relative;
  left: 14px;
}

/* url("../../jpg/test1.png") center/contain no-repeat border-box, linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 75%, rgba(41,41,41,1) 100%); */
