.footer-container {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container h1 {
    color: rgb(133, 247, 255);
    font-size: 0.8rem;
}

.footer-container h1:hover {
    color: gold;


}